body {

    background-color: lightskyblue;

}

h1 {

text-align: center;
color: rgb(33, 132, 58);
font-family: 'Dancing Script', cursive;
font-weight: bold;

}

#lives {
    color:rgb(33, 132, 58);
    text-align: center;
    font-size: larger;

} 

.restartbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

  }


  img {

    display: flex;
    margin: auto;
    height: 200px;
  }

  #buttons {
background-color: black;
color: #4CAF50;
  }
 




  .keybord{
    width: 680px;
    margin:200px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
}
.row{
    margin:5px ;
    user-select: none;
    float: right;
}
 button{
    width: 50px;
    height: 50px;
    font-weight: bold;
    margin: 0 4px;
    background-color: green;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    
}

.row4 , .backspace , .space{
  display: flex;
  align-items: center;
  justify-content: center;
}
.keybord .backspace , .space{
  color: white;
  font-weight: bold;
  cursor: pointer;
 
}
.backspace , .space{
  border-radius: 5px;
  box-shadow: -2px -2px 4px rgb(63, 63, 63) , 2px 2px 4px black;
}
.keybord .space{
  width: 300px;
  height: 50px;
}
.keybord .backspace {
  width: 100px;
  height: 50px;
  margin-left: 15px;
}
