body {

    background-color: lightskyblue;

}


h1 {

text-align: center;
color: rgb(33, 132, 58);
font-family: 'Dancing Script', cursive;
font-weight: bold;

}


#lives {
    color:rgb(33, 132, 58);

} 